<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="login" value="worker" />
  </appSettings>
  <connectionStrings>
    <add name="work" connectionString="Server=tcp:work.database.windows.net,1433;Initial Catalog=work;Persist Security Info=False;User ID=login;Password=password;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <!--<add name="work" connectionString="Server=tcp:work.database.windows.net,1433;Initial Catalog=work;Persist Security Info=False;User ID=worker;Password=;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
  </connectionStrings>
</configuration>